:root{
    --background-color:white ;
    --text-color:black;
}
body {
    
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family:Arial, sans-serif;
    background-color: var(--background-color);
    color:var(--text-color);
}
figure{
    
    text-align: center;
    border-radius: 35px;
    background-color: var(--background-color);
    color:var(--text-color);
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

h2{
    text-align:center;
  }

li{
    margin-top: 20px;
}

img{
    border: 5px solid blue;
    border-radius: 35px;
    width: 100%;
    box-sizing: border-box;
  }

.label{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.grid{
    display:grid;
grid-template-columns:repeat(auto-fill,minmax(700px,1fr));
gap:10px;
}
@media  all and (min-width:772px) {
    figure{
        background-color: blue;
        text-align: center;
        border-radius: 50%;
    
    }
    img{
        border: 5px solid blue;
        border-radius: 50%;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        transform: scale(40px);
       
      }
      .grid{
        display:grid;
        grid-template-columns:1fr 1fr;
        gap:10px;
    }
    .grid :nth-child(9){
        grid-column: span 2;
    }
}

@media (prefers-color-scheme : dark) {
    :root{
        --background-color:#121212;
        --text-color:#e0e0e0;
    }
}
@media  all and (min-width:992px) {
    figure{
        background-color: blue;
        text-align: center;
       border-radius: 35px;
    
    }
    img{
        border: 5px solid blue;
        width: 100%;
        border-radius: 35px;
        box-sizing: border-box;
        overflow: hidden;
        transform: scale(40px);
       
      }
      .grid{
        display:grid;
        grid-template-columns:1fr 1fr;
        gap:10px;
    }
    .grid :nth-child(3n){
        grid-column: span 2;
    }
}
